.planBuilder img {
    margin: 20px 0;
    max-width: 900px;
    width: 100%;
}

.planBuilder table {
    width:100%;
    margin:20px 0;
}

.planBuilder table * {
    border:1px solid #ddd;
}

.planBuilder table th {
    background:#d34747;
    color:white;
    padding:5px 0;
}

.planBuilder table td {
    vertical-align: center;
    text-align:center;
    background: #fff;
    padding: 15px;
    
}

button#add {
    border:none;
    outline:none;
    padding:5px 15px;
    background:#2c2c2c;
    color:white;
    font-weight:bold;
    font-size:14px;
}

.plan-tool {
    background: #ddd;
    padding: 15px;
    margin-bottom: 5px;
}