header {
  background:#f2f2f2;
  padding:10px 20px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

header .logo img {
  height:80px;
  width:auto;
  margin-right:30px;
}

section.left {
  display:flex;
  align-items: center;
}

ul {
  display:flex;
}

ul.main-menu {
  font-size:26px;
  text-transform:uppercase;
}

ul.main-menu li {
  padding:0 20px;
}

ul.tools-menu {
  display:flex;
  align-items: center;
  font-size:18px;
  text-transform:uppercase;
}

ul.tools-menu li {
  padding: 0 15px;
}

ul.tools-menu i {
font-size:40px;
}